h3{
    color: darkgoldenrod;
  font-size: x-large;
  font-style: italic;
}
h5{
    color: greenyellow;
}
body{
    font-family: fantasy;
}
link{
    text-decoration: none;
}
a{
    color: orangered;
}

   


